.list-wrapper,
.profile,
.create {
  .page-head-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $space * 2 0;
    padding-bottom: $space;

    h1 {
      font-size: 28px;
      color: $black-color;
    }
  }
  .lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }

  .box {
    background: #fff;
    width: calc(33.33% - 30px);
    flex-basis: calc(33.33% - 30px);
    margin: 15px;
    border-radius: 10px;
    padding: $space * 4;
    box-shadow: 0px 10px 25px #00000008;

    @include responsive(md) {
      width: calc(33.33% - 30px);
      flex-basis: calc(33.33% - 30px);
    }

    @include responsive(sm) {
      width: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }

    @include responsive(xs) {
      width: calc(100% - 30px);
      flex-basis: calc(100% - 30px);
    }

    .images {
      display: flex;
      justify-content: center;

      .image-box {
        width: 115px;
        height: 115px;
        background-color: #fff;
        box-shadow: 0px 10px 20px #00000029;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }
    .column-main {
      text-align: center;
      margin-top: $space-sm;
      h2 {
        text-align: center;
        font-size: 22px;
        color: $black-color;
        text-transform: capitalize;
        font-weight: 600;
        margin-top: 10px;
      }
      span {
        color: $grey;
        font-size: 14px;
      }
    }

    .review-button,
    .back-button {
      margin-top: $space * 3;
      display: block;
      @include easing();
    }
  }
  .navigation {
    width: 100%;
    display: flex;
    margin: 40px 0;
    align-items: center;
    justify-content: center;

    .page-btn {
      width: 55px;
      height: 55px;
      align-items: center;
      padding: 0;
      justify-content: center;
      display: flex;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid #D6DCE3;
      margin: $space $space / 2;
      box-shadow: none;
    }
  }
}

.profile {
  .box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .back-button {
      width: 200px;
    }
  }
}

.create {
  .box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 18px;
    }

    .form {
      .message {
        padding: $space;
        font-size: 14px;
        background-color: ligten($success, 20%);
        border: solid 1px $success;
        color: darken($success, 25%);
        width: 100%;
        border-radius: 5px;
        margin-top: $space;

        &.error {
          background-color: lighten($danger, 30%);
          border: solid 1px $danger;
          color: darken($danger, 15%);
        }
      }
      .col {
        margin-top: $space-sm;

        .btn {
          width: 100%;
        }
      }
    }
  }
}
