$background: #f9f9fb;
$lightBorder: #f5f5f5;
$boxShadowColor: #f7f7f7;

$gradient: transparent linear-gradient(90deg, #748EFC 0%, #3B4D9A 100%) 0% 0% no-repeat padding-box;
$blue: #4d63bc;
$danger: #c72323;
$success: #2d922d;
$black-color: #191B2C;
$grey: #8599A8;

$space: 10px;
$space-sm: 15px;

// media
$media-small: 768px;
$media-medium: 992px;
$media-large: 1440px;
